testRunner/TEST-CORE/src/main/java/com/etantolling/testrunner/test/core/cli/connectionpool/connection_pool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.idcglobal.com/schema" xmlns:tns="http://www.idcglobal.com/schema" elementFormDefault="qualified">

    <element name="GlobalNamingResources" type="tns:GlobalNamingResources"></element>
    
    <complexType name="GlobalNamingResources">
    	<sequence>
    		<element name="Resource" type="tns:Resource" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Resource">
    	<sequence></sequence>
    	<attribute name="auth" type="string"></attribute>
    	<attribute name="driverClassName" type="string"></attribute>
    	<attribute name="maxActive" type="string"></attribute>
    	<attribute name="name" type="string"></attribute>
    	<attribute name="password" type="string"></attribute>
    	<attribute name="type" type="string"></attribute>
    	<attribute name="url" type="string"></attribute>
    	<attribute name="username" type="string"></attribute>
    </complexType>
</schema>
