testRunner/TEST-CORE/src/main/java/com/etantolling/testrunner/test/core/cli/configfolder/config_folder_map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/config_folder_map/" targetNamespace="http://www.example.org/config_folder_map/">
    <element name="hosts" type="tns:hosts"></element>
    
    <complexType name="hosts">
    	<sequence>
    		<element name="host" type="tns:host" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>


    <complexType name="host">
    	<attribute name="name" type="string"></attribute>
    	<attribute name="config_folder" type="string"></attribute>
    	<attribute name="defaults_config_folder" type="string"></attribute>
    	<attribute name="username" type="string"></attribute>
    	<attribute name="environmentvariable" type="string"></attribute>
    	<attribute name="pathfragment" type="string"></attribute>
    </complexType>
</schema>